## ignore nf.logs
.nextflow.log*
.nextflow/

## ignore workdir
work*

## Ignore test subdirectories from mkmodules
mkmodules/*/test/results/*

## Ignore everything in data folder except data file
test/data/*
!test/data/*.txt
